<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<meta charset="utf-8">
	<title><%= user %></title>
	<style type="text/css">
		.main{
			position: absolute;
			margin:auto;
			width: 800px;
			height: 600px;
			left: 0px;
			right: 0px;
			top: 50px;
			box-shadow:2px 5px 12px #555,-1px -1px 3px #292929;
			background-color: #eee;
		}
		.left,.right{
			float: left;
			position: relative;
			height: 100%;
			background-color: #ccc;
			width: 280px;
			padding-left: 10px; 
			overflow: auto;
		}
		.right{
			background-color: #aaa;
			width: 520px;
		}
		li{
			margin-top: 10px;
			margin-left: 0px; 
			font-size: 20px;
		}
		li:hover{
			opacity: 0.6;
			color: #5b5b5b;
		}
		ul{
			list-style: none;
			padding-left: 15px;
		}
		form{
			padding-left: 30px;
		}
		#title1{
			padding-bottom: 0px;
			margin-bottom: 0px;
		}
		.small{
			padding-top: 0px;
			margin-top: 0px;
			text-align: right;
			font-size: 12px;
			color: #888;
			display: inline;
		}
		.link{
			text-decoration: none;
			cursor: pointer;
			color: red;
		}
		.link:hover{
			color: blue;
		}
		.smalltitle{
			text-align: right;
		}
		#img{
			width:352px;
			margin: 50px auto;
			display: none;
		}
		#img_loading{
			margin:100px 250px;
			display: none;
		}
		.active{
			background-color: #aaa;
		}
		#adddevice{
			position: absolute;
			bottom: 10px;
		}
		#device_id{
			width: 150px;
		}
		#action{
			position: absolute;
			bottom: 10px;
			width: 95%;
		}
		#add,#modifyname{
			margin-left: 10px;
		}
		.modal-body{
			overflow-y: auto; 
			max-height: 500px;
		}
		.modal-dialog{
			width: 70%;
		}
		.btn{
			margin-right: 5px;
		}
	</style>
	<script>
    
	</script>
</head>
<body>
	<div class="main">
		<div class="left">
			<h1 id="title1">我的设备</h1>
			<div class="smalltitle">
				<p class="small">当前用户:</p><p class="small"><%= user %></p><a class="small link" href="/logout">&nbsp;退出&nbsp;</a>
			</div>
			<ul id="my_device"></ul>
			<div id="adddevice">
				<label>测试ID：ov_orange_01</label><br>
				<lable>设备ID：</lable><input id="device_id" placeholder=""/><button class="btn btn-info btn-sm" id="add">添加</button>
			</div>
		</div>
		<div class="right">
			<h1>设备操作</h1>
			<p id="current_device">当前设备：</p>
			<p id="name_device">设备名称：<input style="width:300px;" id="device_name"><button class="btn btn-warning btn-sm" id="modifyname">修改</button></p>
			<p id="status_device">状态：</p>
			<br>
			<img id="img" src=""><br>
			<img id="img_loading" src="/images/loading.gif">
			<div id="action">
				<a id="video-link" href="" style="display: none;color:red" target="_blank"></a><br>
				<button class="btn btn-primary btn-sm pull-left" data-toggle="modal" data-target="#picTable">照片列表</button>
				<button class="btn btn-primary btn-sm pull-left" data-toggle="modal" data-target="#videoTable">视频列表</button>
				<button class="btn btn-primary btn-sm pull-right" id="pic">拍照</button>
				<button class="btn btn-primary btn-sm pull-right" id="rec">开始录像</button>
				<button class="btn btn-danger btn-sm pull-right" style="display:none;" id="rec-end">结束录像</button>
			</div>
		</div>
	</div>

	<div id="picTable" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">照片列表</h4>
	      </div>
	      <div class="modal-body">
        	<table class="table table-striped table-hover">
        	  <thead>
        	  	<tr><td>文件名</td><td>上传日期</td><td>格式</td><td>分辨率</td><td>文件大小</td><td>资源名</td><td>下载</td></tr>
        	  </thead>
        	  <tbody>
        	  	<% var timeFormat = function (date) {
                return date.getFullYear() + '/' + date.getMonth() + '/' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
	            }%>
        	  	<% if (pics.length) { %>
	        	  	<% pics.forEach(function(pic){ %>
	        	  	  <tr>
	        	  	  	<td><%= pic.name %></td>
	        	  	  	<td><%= timeFormat(new Date(pic.datetime_upload)) %></td>
	        	  	  	<td><%= pic.type %></td>
	        	  	  	<td><%= pic.width + '*' + pic.height %></td>
	        	  	  	<td><%= (pic.size/1024).toFixed(1) + 'K' %></td>
	        	  	  	<td><%= pic.key %></td>
	        	  	  	<td><a href=<%= pic.url %> target="_blank"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
	        	  	  </tr>
		          	<% }) %>
		        <% } %>
        	  </tbody>
        	</table>
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div id="videoTable" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">视频列表</h4>
	      </div>
	      <div class="modal-body">
        	<table class="table table-striped table-hover">
        	  <thead>
        	  	<tr><td>文件名</td><td>上传日期</td><td>格式</td><td>文件大小</td><td>资源名</td><td>下载</td></tr>
        	  </thead>
        	  <tbody>
        	  	<% if (videos.length) { %>
	        	  	<% videos.forEach(function(video){ %>
	        	  	  <tr>
	        	  	  	<td><%= video.name %></td>
	        	  	  	<td><%= new Date(video.datetime_upload).toUTCString() %></td>
	        	  	  	<td><%= video.type %></td>
	        	  	  	<td><%= (video.size/(1024*1024)).toFixed(1) + 'M' %></td>
	        	  	  	<td><%= video.key %></td>
	        	  	  	<td><a href=<%= video.url %> target="_blank"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
	        	  	  </tr>
		          	<% }) %>
		        <% } %>
        	  </tbody>
        	</table>
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<script src="/javascripts/jquery-1.10.2.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">

		var reg = /:\/\/[^\/]+\//g,
			url = location.href;

		var user = $('title')[0].innerHTML;

		url = url.indexOf('http://') == -1 ? 'http://' + url : url;
		url = url.match(reg)[0].replace('://','').replace('/','');

		var socket = io.connect(url);
		// var socket = io.connect('http://115.29.179.7');

		socket.emit('init', { user_id:user});

		socket.on('data',function(data){
			if(data.type === 'img'){
				$('#img_loading').hide();
				$('#img')[0].src = data.url;
				$('#img').show();
			} else if (data.type === 'video') {
				$('#img_loading').hide();
				$('#img').hide();
				$('#video-link')[0].href = data.url;
				$('#video-link')[0].innerHTML = data.url.slice(0, 40) + '...';
				$('#video-link').show();
			}
			
		});

		socket.on('oparation', function (data) {
			if (data.status) {
				if (data.cmd === 1) {
					//拍照
					$('#img').hide();
					$('#img_loading').show();
				} else if (data.cmd === 2) {
					//开始录像
					$('#img').hide();
					$('#img_loading').hide();
					$('#rec').hide();
					$('#rec-end').show();
				} else if (data.cmd === 3) {
					//结束录像
					$('#img').hide();
					$('#img_loading').show();
					$('#rec-end').hide();
					$('#rec').show();
				}
			} else {
				alert(data.msg);
			}
		});

		socket.on('device',function(data){

			var tag = $('#' + data.device_id)[0];
			var $tag = $('#' + data.device_id);
      var name = tag.getAttribute('device_name');
			if(data.state == 'on') {
				$tag.css('color','blue');
				$tag.html(name + '(在线)');
				tag.setAttribute('OnOff','在线');
			} else if(data.state == 'off') {
				$tag.css('color','black');
				$tag.html(name + '(离线)');
				tag.setAttribute('OnOff','离线');
			}

		});

		$('#my_device').click(function(e){
			if(e.target.tagName === 'LI'){
				if($('.active')[0])	$('.active')[0].classList.remove('active');
				e.target.classList.add('active');
				$('#current_device')[0].innerHTML = '当前设备：' + e.target.id;
				$('#device_name')[0].value = e.target.getAttribute('device_name');
				$('#status_device')[0].innerHTML = '状态：' + e.target.getAttribute('OnOff');
			}
		});

		$('#pic').click(function(){
			if(!$('.active')[0]){
				alert('请选择设备！');
				return;
			}

			if($('.active')[0].style.color !== 'blue'){
				alert('当前设备为离线状态！');
				return;
			}

      $('#img').hide();
      $('#img_loading').show();

			socket.emit('oparation', {from:user,to:$('.active')[0].id,cmd:0x01});
		});

		$('#rec').click(function(){
			if(!$('.active')[0]){
				alert('请选择设备！');
				return;
			}

			if($('.active')[0].style.color !== 'blue'){
				alert('当前设备为离线状态！');
				return;
			}
			
			socket.emit('oparation', {from:user,to:$('.active')[0].id,cmd:0x02});
		});

		$('#rec-end').click(function(){
			if(!$('.active')[0]){
				alert('请选择设备！');
				return;
			}

			if($('.active')[0].style.color !== 'blue'){
				alert('当前设备为离线状态！');
				return;
			}

			socket.emit('oparation', {from:user,to:$('.active')[0].id,cmd:0x03});
		});

		$('#add').click(function(){
			var device_id = document.getElementById('device_id').value;

			if(!device_id){
				alert('请填写设备号');
				return;
			}

			$.post('/addDevice',{'device_id':device_id},function(data){
				console.log(data);
				if(data != 'ok') {
					alert(data);
					return;
				} else {
					location.href = location.href;
				}
			})
		})

		$('#modifyname').on('click',function(){
			var name = $('#device_name')[0].value;
			if($('.active')[0] && name){
				$.post('/modifydevicename',{'name':name,'device_id':$('.active')[0].id},function(data){
					if(data === 'ok'){
						location.href = location.href;
					}
				})
			}else{
				alert('呵呵');
			}
			
		})

		$.get('/devices',function(data){
			for(var i=0;i<data.length;i++){
				var li = document.createElement('li');
				li.id = data[i].id_device;
				li.innerHTML = data[i].display_name + '(离线)';
				document.getElementById('my_device').appendChild(li);
				li.setAttribute('device_name',data[i].display_name);
				li.setAttribute('OnOff','离线');
			}
			$($('#my_device')[0].children[0]).click();
		});

	</script>
</body>
</html>